/* Define your theme modifications inside next mixin */
@mixin com_haulmont_addon_samplebase-halo-ext {

    .c-breadcrumbs .v-label, .c-breadcrumbs .v-button-caption {
        font-weight: bold;
    }

    .info-box {
        background-color: #006dc9;
        color: #eee;
    }

    .info-box h1, .info-box h2, .info-box h3 {
        color: #eee;
    }

    .info-box a {
        color: #eee;
    }

    .info-box .info-links a {
        background-color: #eee;
        color: #006dc9;
        padding: 4px;
        text-decoration: none;
        border-radius: unset;        
    }

    .info-box .info-links a:hover {
        background-color: #fff;
    }
        
    .v-caption-info-icon .v-icon {
        font-size: 50px;
    } 
}